<!doctype html>
<html>
<head>
    <title>Secure Notes App</title>


    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    {% if request.args.get("logout") %}
        <p style="color: greenyellow; font-weight: bold;">
            You have successfully been logged out!
        </p>
    {% endif %}
    <h1>Secure Notes App</h1>

    <nav>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <a href="/notes">Notes</a>
        <a href="/search">Search</a>
    </nav>

    <p>This is the secure version. Vulnerabilities have been fixed.</p>
</body>
</html>