<!doctype html>
<html>
<head>
    <title>Your Notes</title>
</head>
<body>

    <h1>Your Notes</h1>

    <a href="/logout">Logout</a>

    <h3>Add a Note</h3>
    <form method="post">
        <textarea name="note" required></textarea>
        <button type="submit">Add Note</button>
    </form>

    <h3>Your Notes</h3>
    <ul>
        {% for n in notes %}
            <li>
                {{ n[1] }}
                <a href="/edit/{{ n[0] }}">Edit</a>
                <a href="/delete/{{ n[0] }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="/">Back to Main Page</a>

</body>
</html>