<!doctype html>
<html>
<head>
    <title>Your Notes (Insecure)</title>
</head>
<body>
    <h1>Your Notes</h1>

    <!-- Logout -->
    <a href="/logout">Logout</a>

    <h3>Add Note</h3>
    <form method="post">
        <textarea name="note"></textarea>
        <button type="submit">Add Note</button>
    </form>

    <h3>Your Notes</h3>
    <ul>
        {% for n in notes %}
            <li>
                {{ n[1] }}  <!-- n[1] is the note text -->

                <!-- Edit button -->
                <a href="/edit/{{ n[0] }}">Edit</a>

                <!-- Delete button -->
                <a href="/delete/{{ n[0] }}">Delete</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>